<ion-header no-border>
    <ion-toolbar>
        <ion-title>Noticias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="loadNews($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let news of newsArray">
            <ion-label text-wrap>
                <h2>{{news.title}}</h2>
                <ion-text color="medium">
                    <h6>{{news.publicationDate | date: 'dd/MM/yyyy hh:mm a'}}</h6>
                </ion-text>
                <ion-text color="dark">
                    <p>{{news.description}}</p>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
