<ion-header no-border>
    <ion-toolbar>
        <ion-title>Noticias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!httpError; else errorMessage">
        <ion-refresher (ionRefresh)="loadNews($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-list>
            <ion-item *ngFor="let news of newsArray">
                <ion-label text-wrap>
                    <h2>{{news.title}}</h2>
                    <ion-text color="medium">
                        <h6>{{news.publicationDate | date: 'dd/MM/yyyy hh:mm a'}}</h6>
                    </ion-text>
                    <ion-text color="dark">
                        <p>{{news.description}}</p>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <ng-template #errorMessage>
        <div class="error-area">
            <ion-text>
                <h3>No es posible conectarse con SIUA</h3>
            </ion-text>
            <ion-button fill="clear" (click)="loadEvents()">Intentarlo de nuevo</ion-button>
        </div>
    </ng-template>
</ion-content>
