<h1 mat-dialog-title>Cambiar contraseña</h1>
<mat-dialog-content>
  <form #lForm="ngForm" [formGroup]="form" novalidate>
    <mat-form-field>
      <input matInput type="password" formControlName="old" placeholder="Contraseña actual">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="new" placeholder="Contraseña nueva">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="change()" [disabled]="form.invalid">Aceptar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>
