<h1 mat-dialog-title>Modificar contador</h1>
<mat-dialog-content>
  <form #lForm="ngForm" [formGroup]="form" novalidate>
    <mat-form-field>
      <input matInput type="number" min=0 max={{maxCounter}} placeholder="Valor (máx. {{maxCounter}})" formControlName="counter"
             value="{{counter}}">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="change()">Aceptar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>
