<h1 mat-dialog-title>Fecha y hora</h1>
<div mat-dialog-content>
  <form #lForm="ngForm" [formGroup]="form" novalidate>
    <mat-form-field>
      <input matInput [matDatepicker]="datePicker" formControlName="date" placeholder="Fecha">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <div></div>
    <mat-form-field>
      <input matInput type="time" formControlName="time" placeholder="Hora">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">CANCELAR</button>
  <button mat-button (click)="accept()" cdkFocusInitial>ACEPTAR</button>
</div>
