<div class="container">
  <div id="stats-container-title" class="row justify-content-start">
    <div id="stats-title" class="col-md-1">Estadísticas</div>
  </div>

  <div class="stats-control-section">
    <div id="controls-section" class="row justify-content-center">
      <mat-card id="general-section" class="col-md-1">
        <mat-card-title>Histograma de uso</mat-card-title>
        <mat-card-content>
          <form id="histogramForm" #lForm="ngForm" [formGroup]="histogramForm" (ngSubmit)="generateHistogram()"
                novalidate>
            <mat-form-field>
              <mat-select type="text" formControlName="selectedTimeFrame" placeholder="Período">
                <mat-option *ngFor="let timeFrame of timeFrames" [value]="timeFrame">
                  {{timeFrame}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [max]="yesterday" [matDatepicker]="fromDatePicker" formControlName="fromDate"
                     placeholder="Desde">
              <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [max]="yesterday" [matDatepicker]="toDatePicker" formControlName="toDate"
                     placeholder="Hasta">
              <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button type="submit" form="histogramForm">GENERAR</button>
        </mat-card-actions>
      </mat-card>
      <mat-card id="forecasting-section" class="col-md-1">
        <mat-card-title>Previsión de uso</mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <input matInput [min]="tomorrow" [matDatepicker]="forecastPicker" placeholder="Fecha a consultar"
                   (dateChange)="makeForecast($event)">
            <mat-datepicker-toggle matSuffix [for]="forecastPicker"></mat-datepicker-toggle>
            <mat-datepicker #forecastPicker></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
        <p class="number-counter">0</p>
        <p class="title-counter">vehículos utilizarán el parqueo</p>
      </mat-card>
    </div>
  </div>
</div>
