[Unit]
Description=SENSOR BACKEND ON PORT 4096
After=network.target

[Service]
Type=idle
WorkingDirectory = /home/debian/iteracion-3/Parqueo-SIUA/python-backend
ExecStart=/usr/bin/python sensor-backend.py

[Install]
WantedBy=multi-user.target