<div class="container">
  <div id="events-container-title" class="row justify-content-start">
    <div id="events-title" class="col-md-1">Eventos</div>
  </div>

  <div id="events-scrolling-wrapper">
    <mat-card *ngFor="let event of eventsArray">
      <mat-card-title>{{event.title}}</mat-card-title>
      <mat-card-subtitle>
        Del {{event.startDate | date: 'dd/MM/yy hh:mm a'}} al {{event.endDate | date: 'dd/MM/yy hh:mm a'}}
      </mat-card-subtitle>
      <mat-card-content>
        <p>{{event.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
