<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home-tab">
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="news-tab">
            <ion-icon name="document"></ion-icon>
            <ion-label>Noticias</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="events-tab">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Eventos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="stats-tab">
            <ion-icon name="stats"></ion-icon>
            <ion-label>Estadísticas</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
