<div class="username px-3 px-sm-4">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <span>{{username.toUpperCase()}}</span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changePassword()">Cambiar contraseña</button>
    <button mat-menu-item (click)="logout()">Cerrar sesión</button>
  </mat-menu>
</div>

<div class="container">

  <mat-card class="mx-auto">

    <div class="row">
      <!-- Events creation section -->
      <div class="form-section col-sm-12 col-md">

        <!-- If edit mode off, show this title -->
        <mat-card-title *ngIf="!editionMode; else editTitle">
          Nuevo evento
        </mat-card-title>
        <!-- Otherwise, show edit mode title-->
        <ng-template #editTitle>
          <mat-card-title>Editar evento</mat-card-title>
        </ng-template>

        <!-- Events creation form -->
        <form [formGroup]="eventForm" novalidate>

          <!-- Title field-->
          <mat-form-field>
            <label>Título</label>
            <input matInput type="text" formControlName="title">
          </mat-form-field>

          <!-- Description field -->
          <mat-form-field>
            <label>Descripción</label>
            <textarea matInput type="text" formControlName="description" mat-autosize="true"
                      maxlength={{maxDescriptionLength}} #description></textarea>
            <mat-hint align="end">{{description.value.length}} / {{maxDescriptionLength}}</mat-hint>
          </mat-form-field>

          <div class="date-field">
            <span>Fecha de inicio</span>
            <div>
              <button mat-icon-button (click)="showDatePicker('start')">
                <mat-icon aria-label="Elegir fecha">event</mat-icon>
              </button>
              <span>{{eventForm.get('startDate').value | date: 'dd/MM/yy hh:mm a'}}</span>
            </div>
          </div>

          <div class="date-field">
            <span>Fecha de finalización</span>
            <div>
              <button mat-icon-button (click)="showDatePicker('end')">
                <mat-icon aria-label="Elegir fecha">event</mat-icon>
              </button>
              <span>{{eventForm.get('endDate').value | date: 'dd/MM/yy hh:mm a'}}</span>
            </div>
          </div>

          <mat-slide-toggle *ngIf="!editionMode" formControlName="schedulePublication">
            Programar publicación
          </mat-slide-toggle>

          <!-- Publication date field-->
          <div class="date-field">
            <span *ngIf="eventForm.get('schedulePublication').value">Fecha y hora de publicación</span>
            <div>
              <button mat-icon-button (click)="showDatePicker('pub')"
                      [disabled]="!eventForm.get('schedulePublication').value">
                <mat-icon aria-label="Elegir fecha">event</mat-icon>
              </button>
              <span>{{eventForm.get('publicationDate').value | date: 'dd/MM/yy hh:mm a'}}</span>
            </div>
          </div>
        </form>

        <!-- If edit mode off, show this button -->
        <div *ngIf="!editionMode; else editButtons">
          <!-- Publish button -->
          <button mat-flat-button color="primary" (click)="postEvent()" [disabled]="eventForm.invalid">PUBLICAR</button>
        </div>

        <!-- Otherwise, show these buttons-->
        <ng-template #editButtons>
          <div>
            <!-- Modify button -->
            <button mat-flat-button color="primary" (click)="updateEvent(eventInEdition)"
                    [disabled]="eventForm.invalid">MODIFICAR
            </button>
            <!-- Cancel button -->
            <button mat-button (click)="setEventEditionModeOff()">CANCELAR</button>
          </div>
        </ng-template>

      </div>

      <!-- Vertical card divider (hide on screens smaller than md) -->
      <mat-divider class="d-none d-md-block" [vertical]="true"></mat-divider>
      <!-- Horizontal card divider (hide on screens wider than md) -->
      <div id="horizontal-divider" class="col d-block d-md-none">
        <mat-divider></mat-divider>
      </div>

      <!-- Published events area -->
      <div class="col-md-7 col-lg-7 col-xl-8">

        <!-- Event list area-->
        <!-- If there is no event show this div -->
        <div class="empty-list" *ngIf="eventsArray.length == 0; else listItems">
          <p>No se han publicado eventos</p>
        </div>

        <!-- Otherwise, show list items -->
        <ng-template #listItems>
          <mat-list>
            <h2 mat-subheader>Eventos publicados</h2>
            <!-- Events list item-->
            <mat-list-item *ngFor="let event of eventsArray">
              <!-- Text lines -->
              <h4 mat-line>{{event.title}}</h4>
              <caption mat-line>
                Inicio: {{event.startDate | date: 'dd/MM/yy hh:mm a'}} | Fin: {{event.endDate| date: 'dd/MM/yy hh:mma'}}
              </caption>
              <caption mat-line>Publicación: {{event.publicationDate | date: 'dd/MM/yy hh:mm a'}}</caption>
              <caption mat-line>{{event.description}}</caption>
              <!-- Buttons-->
              <button mat-icon-button (click)="setEventEditionModeOn(event)">
                <mat-icon aria-label="Editar evento">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteEvent(event)">
                <mat-icon aria-label="Eliminar evento">delete</mat-icon>
              </button>
              <!-- List item divider -->
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </div>
    </div>
  </mat-card>
</div>
