<mat-dialog-content>
  <div>
    <form id="contactForm" #lForm="ngForm" [formGroup]="contactForm" (ngSubmit)="sendReport()" novalidate>
      <mat-form-field>
        <label>Correo electrónico</label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <section>
        <label>Tipo de mensaje</label>
        <mat-radio-group type="radio" formControlName="type">
          <mat-radio-button value=0>Comentario</mat-radio-button>
          <mat-radio-button value=1>Reporte de error</mat-radio-button>
        </mat-radio-group>
      </section>
      <mat-form-field>
        <label>Descripción</label>
        <textarea matInput type="text" formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="closeDialog()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="sendReport()">Save</button>
</mat-dialog-actions>
