html, body {
  min-height: 100%;
}

/* HEADER ATTRIBUTES */
.header {
  background-color: #261923;
  margin: 0;
  padding: 20px 50px 20px 50px;
}

/* LOGO ATTRIBUTES */
#siua-logo {
  min-width: 150px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER BUTTONS ATTRIBUTES */
button {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  min-width: 150px;
}

/* CONTAINER ATTRIBUTES */
.container {
  background-color: #261923;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px 50px 0 50px;
  text-align: center;
}

/* CONTAINER INFORMATION ATTRIBUTES */
.counter-and-information-section {
  padding: 0 50px 0 50px;
  text-align: center;
}

/* LABELS */
#available-spaces-label {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 2.3em;
}

#timestamp-label {
  margin: 20px 0 0 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 1em;
  color: white;
}

#today-event-section {
  margin: 20px 0 0 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 1.9em;
  color: white;
}

/* COUNTERS */
#general-section {
  margin: 5px;
  min-width: 300px;
  min-height: 200px;
  max-width: 300px;
  max-height: 200px;
}

#handicapped-counter {
  margin: 5px;
  min-width: 300px;
  min-height: 200px;
  max-width: 300px;
  max-height: 200px;
}

.number-counter {
  margin: 0 !important;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 5em;
}

.title-counter {
  margin: 0 !important;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
}
