<div class="container px-4 px-sm-5 py-3">
  <div id="login-form-card" class="row justify-content-center">
    <mat-card class="col-md-6 col-lg-4 col-xl-3">
      <!-- Login form section -->
      <div id="login-form-area">
        <mat-card-title>
          Iniciar sesión
        </mat-card-title>
        <!-- Events creation form -->
        <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
          <!-- Email field-->
          <mat-form-field>
            <label>Correo eléctronico</label>
            <input matInput type="email" formControlName="email">
          </mat-form-field>
          <!-- Password field -->
          <mat-form-field>
            <label>Contraseña</label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" form="loginForm">Iniciar sesión</button>
        </form>
      </div>
    </mat-card>
  </div>
</div>
