<div class="header">
  <div class="row justify-content-start">
    <div id="siua-logo" class="col-md-1"><img src="assets/img/siua-logo.png"></div>
    <button mat-button class="col-md-1" routerLink="/" routerLinkActive="active">INICIO</button>
    <button mat-button class="col-md-1" routerLink="/noticias" routerLinkActive="active">NOTICIAS
    </button>
    <button mat-button class="col-md-1" routerLink="/eventos" routerLinkActive="active">EVENTOS
    </button>
    <button mat-button class="col-md-1" routerLink="/reportes" routerLinkActive="active">REPORTES
    </button>
  </div>
</div>
