#navigation-bar {
  margin: 0;
  padding: 20px 50px 20px 50px;
}

/* LOGO ATTRIBUTES */
#siua-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER BUTTONS ATTRIBUTES */
.nav-link {
  margin: 0 15px 0 15px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}
