<nav id="navigation-bar" class="navbar navbar-expand-md navbar-dark px-sm-5 py-4" style="background-color: #261923;">
  <a id="siua-logo" class="navbar-brand"><img src="assets/img/siua-logo.png"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse_target">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mx-3">
        <a class="nav-link" routerLink="/" routerLinkActive="active">INICIO</a>
      </li>
      <li class="nav-item active mx-3">
        <a class="nav-link"  routerLink="/noticias" routerLinkActive="active">NOTICIAS</a>
      </li>
      <li class="nav-item active mx-3">
        <a class="nav-link"  routerLink="/eventos" routerLinkActive="active">EVENTOS</a>
      </li>
      <li class="nav-item active mx-3">
        <a class="nav-link"  routerLink="/reportes" routerLinkActive="active">REPORTES</a>
      </li>
    </ul>
  </div>
</nav>
