<div class="container px-4 px-sm-5 py-3">
  <div id="news-adm-card">
    <mat-card class="row justify-content-lg-start">

      <!-- News creation section -->
      <div id="news-adm-card-create-area" class="col-md-4">
        <!-- If edit mode off, show this title -->
        <mat-card-title *ngIf="!editionMode; else editTitle">
          Nueva noticia
        </mat-card-title>
        <!-- Otherwise, show edit mode title-->
        <ng-template #editTitle>
          <mat-card-title>Editar noticia</mat-card-title>
        </ng-template>
        <!-- News creation form -->
        <form id="create-news-form" #lForm="ngForm" [formGroup]="createNewsForm" novalidate>
          <!-- Title field-->
          <mat-form-field>
            <label>Título</label>
            <input matInput type="text" formControlName="title">
          </mat-form-field>
          <!-- Description field -->
          <mat-form-field>
            <label>Descripción</label>
            <textarea matInput type="text" formControlName="description" mat-autosize="true"
                      maxlength={{maxDescriptionLength}} #description></textarea>
            <mat-hint align="end">{{description.value.length}} / {{maxDescriptionLength}}</mat-hint>
          </mat-form-field>
        </form>
        <!-- If edit mode off, show this button -->
        <div *ngIf="!editionMode; else editButtons">
          <!-- Publish button -->
          <button mat-button="" class="mat-raised-button mat-primary" (click)="postNews()">PUBLICAR</button>
        </div>
        <!-- Otherwise, show these buttons-->
        <ng-template #editButtons>
          <div>
            <!-- Modify button -->
            <button mat-button="" class="mat-raised-button mat-primary" (click)="updateNews(newsInEdition)">
              MODIFICAR
            </button>
            <!-- Cancel button -->
            <button mat-button="" (click)="setNewsEditionModeOff()">CANCELAR</button>
          </div>
        </ng-template>
      </div>

      <!-- Vertical card divider (hide on screens smaller than md) -->
      <mat-divider class="d-none d-md-block" [vertical]="true"></mat-divider>
      <!-- Horizontal card divider (hide on screens wider than md) -->
      <div id="horizontal-divider" class="col d-block d-md-none">
        <mat-divider></mat-divider>
      </div>

      <!-- Published news area -->
      <div id="news-adm-card-list-area" class="col-md">
        <!-- News list area-->
        <!-- If there is no news show this div -->
        <div id="no-news-section" *ngIf="newsArray.length == 0; else listItems">
          <p>No se han publicado noticias</p>
        </div>
        <!-- Otherwise, show list items -->
        <ng-template #listItems>
          <mat-list id="news-list-view">
            <h3 mat-subheader>Noticias publicadas</h3>
            <!-- News list item-->
            <mat-list-item *ngFor="let news of newsArray">
              <!-- Text lines -->
              <h4 mat-line>{{news.title}}</h4>
              <caption mat-line>{{news.creationDate | date: 'dd/MM/yy hh:mm a'}}</caption>
              <caption mat-line>{{news.description}}</caption>
              <!-- Buttons-->
              <button mat-icon-button (click)="setNewsEditionModeOn(news)">
                <mat-icon aria-label="Editar noticia">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteNews(news)">
                <mat-icon aria-label="Eliminar noticia">delete</mat-icon>
              </button>
              <!-- List item divider -->
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </div>
    </mat-card>
  </div>
</div>
