<div class="container">'
  <div id="news-adm-card">
    <mat-card class="row justify-content-lg-start">
      <!-- News creation section -->
      <div id="news-adm-card-create-area" class="col-md-4">
        <mat-card-title>Nueva noticia</mat-card-title>
        <!-- News creation form -->
        <form id="create-news-form" #lForm="ngForm" [formGroup]="createNewsForm"
              (ngSubmit)="postNews()" novalidate>
          <!-- Title field-->
          <mat-form-field>
            <label>Título</label>
            <input matInput type="text" formControlName="title">
          </mat-form-field>
          <!-- Description field -->
          <mat-form-field>
            <label>Descripción</label>
            <textarea matInput type="text" formControlName="description" mat-autosize="true"
                      maxlength={{maxDescriptionLength}} #description></textarea>
            <mat-hint align="end">{{description.value.length}} / {{maxDescriptionLength}}</mat-hint>
          </mat-form-field>
          <!-- Publish button -->
          <button class="mat-raised-button mat-primary" type="submit" form="create-news-form">PUBLICAR</button>
        </form>
      </div>

      <!-- Card vertical divider-->
      <mat-divider [vertical]="true"></mat-divider>

      <!-- Published news area -->
      <div id="news-adm-card-list-area" class="col-md">
        <!-- News list area-->
        <mat-list id="news-list-view">
          <h3 mat-subheader>Noticias publicadas</h3>
          <!-- News list item-->
          <mat-list-item *ngFor="let news of newsArray">
            <!-- Text lines -->
            <h4 mat-line>{{news.title}}</h4>
            <caption mat-line>{{news.creationDate | date: 'dd/MM/yy hh:mm a'}}</caption>
            <caption mat-line>{{news.description}}</caption>
            <!-- Buttons-->
            <button mat-icon-button (click)="updateNews(news)">
              <mat-icon aria-label="Editar noticia">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteNews(news)">
              <mat-icon aria-label="Eliminar noticia">delete</mat-icon>
            </button>
            <!-- List item divider -->
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card>
  </div>
</div>
